style>
.banner-container img{
  width: 100%;
}
.hidden-mobile {
  display: none;
}
.hidden-desktop {
  display: block;
}
@media (min-width: 767px){
  .hidden-mobile {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
}
</style>
{% if section.settings.desktop_image != blank and section.settings.mobile_image != blank %}
<div class="banner-container">
 <a href="{{section.settings.url_banner}}"> <img class="hidden-mobile"  src="{{ section.settings.desktop_image | img_url: "master" }}"></a>
 <a href="{{section.settings.url_banner}}"> <img class="hidden-desktop" src="{{ section.settings.mobile_image | img_url: "master" }}"></a>
</div>
{% endif %}

{% schema %}
  
{
"name": "Banner Responsive",
"class": "desktop-mobile-banner",
"tag": "section",
"settings": [
{
"type": "header",
"content": "Desktop Banner"
},
{
 "type": "url",
 "id": "url_banner",
 "label": "URL button",
 "default": "/collections/all"
    },
{
"type": "image_picker",
"label": "Desktop Image",
"id": "desktop_image"
},
{
"type": "header",
"content": "Mobile Banner"
},
{
"type": "image_picker",
"label": "Mobile Image",
"id": "mobile_image"
}
],
"presets": [
{
"name": "Banner Responsive",
"category":"Image",
"settings": {
}
}
]

}
{% endschema %}



